.planet,
.moon {
  position: relative;
  left: 50%;
  border-radius: 50%;
}

#earth .planet {
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  background-repeat: repeat-x;
  background-image: url("./earth.svg");
  background-size: auto 108%;
  background-color: rgb(76, 152, 244);
  box-shadow: inset 0 0 30px 0px rgb(0, 0, 0);
  z-index: 0;
  animation: rotate-earth 1s linear infinite;
}

#earth .moon {
  top: -50px; /* half the size of the planet */
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
  background: white;
  box-shadow: 0 0 20px -5px rgb(0, 0, 0), inset 0 0 20px -5px rgb(0, 0, 0);
  animation: moon-orbit 10s ease-in-out infinite;
}

@keyframes rotate-earth {
  0% {
    background-position-x: 183%;
  }
  100% {
    background-position-x: 0%;
  }
}

@keyframes moon-orbit {
  0% {
    top: -35px;
    left: calc(50% - 200px);
    z-index: 1;
    width: 30px;
    height: 30px;
    background-color: rgb(229, 229, 229);
  }
  25% {
    /* passing in front of the planet */
    z-index: 1;
    width: 35px;
    height: 35px;
    background-color: white;
  }
  50% {
    top: -65px;
    left: calc(50% + 200px);
    z-index: -1;
    width: 30px;
    height: 30px;
    background-color: rgb(229, 229, 229);
  }
  75% {
    /* passing behind the planet */
    z-index: -1;
    width: 25px;
    height: 25px;
    background-color: rgb(190, 190, 190);
  }
  100% {
    top: -35px;
    left: calc(50% - 200px);
    z-index: 1;
    width: 30px;
    height: 30px;
    background-color: rgb(229, 229, 229);
  }
}
