#venus .planet {
  width: 94px; /* 7520 miles in diameter */
  height: 94px;
  margin: -47px 0 0 -47px;
  background-repeat: repeat-x;
  background-image: url("./background.jpg");
  background-size: auto 108%;
  background-color: rgb(190, 98, 0);
  box-shadow: inset 0 0 10px 0px rgb(0, 0, 0);
  z-index: 20;
  /* 243 earth days per 1 mercury day */
  animation: rotate-venus 75s linear infinite;
}

@keyframes rotate-venus {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 185%;
  }
}
