@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;500;600&display=swap");

#solar-system {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 0;
  overflow-x: hidden;
  background: url("./background.jpg") repeat black;
}

#solar-system h1 {
  margin-top: 200px;
  margin-bottom: 700px;
  font-size: 3rem;
  text-align: left;
}

#solar-system h1 div.css::first-letter {
  color: rgba(240, 17, 17, 0.818);
}

#solar-system h1 .desc {
  border-top: 1px solid rgba(255, 255, 255, 0.184);
  padding-top: 10px;
  margin-top: 20px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.484);
}

#solar-system h1 div.desc::first-letter {
  color: rgba(255, 255, 255, 0.484);
}

#infinity {
  height: 500px;
}

/* Styles applied to all planets, moons and craters */

.planetary-system {
  height: 1000px;
  display: flex;
  flex-direction: column;
}

.planet,
.moon {
  position: relative;
  left: 50%;
  border-radius: 50%;
}

.crater {
  position: absolute;
  border-radius: 50%;
}

h2 {
  font-weight: 600;
  margin-bottom: 12px;
  padding-bottom: 15px;
  font-size: 1rem;
  text-align: center;
  color: rgba(196, 196, 196, 0.769);
  border-bottom: 1px solid rgba(255, 255, 255, 0.184);
}

.planet-desc {
  color: rgba(255, 255, 255, 0.631);
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin-top: 110px;
  max-width: 300px;
  align-self: center;
}

.css-note {
  margin-top: 10px;
}

.css-note span {
  color: rgba(240, 17, 17, 0.818);
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 100px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.087);
}

footer div {
  align-self: center;
  max-width: 800px;
  padding: 0 50px;
}

footer h4,
footer p {
  line-height: 1.4rem;
}

footer h4 {
  margin-bottom: 20px;
}

footer p {
  font-weight: 300;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}

footer li {
  margin-right: 20px;
}

footer a {
  text-decoration: none;
  color:rgba(240, 17, 17, 0.818)
}

footer a:hover {
  text-decoration: underline;
  color:rgb(255, 53, 53)
}
