@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;500;800&display=swap");

#solar-system {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 0;
  overflow-x: hidden;
  background: url("./background.jpg") repeat black;
}

#solar-system h1 {
  margin-top: 200px;
  margin-bottom: 600px;
  font-size: 3rem;
  text-align: left;
}

#solar-system h1 div.css::first-letter {
  color: rgba(240, 17, 17, 0.818);
}

#solar-system h1 .desc {
  border-top: 1px solid rgba(255, 255, 255, 0.184);
  padding-top: 10px;
  margin-top: 10px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.484);
}

#solar-system h1 div.desc::first-letter {
  color: rgba(255, 255, 255, 0.484);
}

#infinity {
  height: 500px;
}

/* Styles applied to all planets, moons and craters */

.planetary-system {
  height: 1000px;
  display: flex;
  flex-direction: column;
}

.planet,
.moon {
  position: relative;
  left: 50%;
  border-radius: 50%;
}

.crater {
  position: absolute;
  border-radius: 50%;
}

h2 {
  color: blue;
}

.planet-desc {
  max-width: 300px;
  background: red;
}
